* {
  padding: 0;
}

header {
  text-align: center;
  font-family: fantasy;
}

header .headerDiv {
  background-color: #845E9F;
}

header .headerDiv img {
  max-width: 8%;
  max-height: 100%;
  height: 60px;
  padding-top: 10px;
}

header .headerDiv h1 {
  margin: 0 auto;
  color: white;
  padding-bottom: 1px;
}

header .menuNav ul li {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 0 auto;
  border-radius: 4em;
  background-color: #397EA3;
  list-style-type: none;
  color: white;
  font-family: "Trebuchet MS";
  font-weight: bolder;
  font-style: oblique;
  cursor: pointer;
  font-size: 14pt;
}

header .menuNav ul li p {
  padding: 5px;
  margin: 5px;
}

header .menuNav ul li:hover {
  color: #FFF6FF;
}

main {
  background-color: #FFF6FF;
  padding-top: 1px;
  padding-bottom: 10px;
}

main h2 {
  color: #5B3F6F;
  text-align: center;
  font-family: cursive;
  font-variant: small-caps;
  text-shadow: 1px 1px 4px #8c66af;
}

main .imgDiv {
  padding-top: 10px;
  border: #FFF6FF solid 2px;
  position: relative;
}

main .imgDiv img {
  max-width: 100%;
  max-height: 100%;
}

main .imgDiv #menImg {
  display: none;
}

main .imgDiv #womenImg {
  display: none;
}

main .imgDiv #arrow {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 28%;
  left: 67%;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  display: none;
}

main .imgDiv .exploreBtn {
  position: absolute;
  top: 43.5%;
  left: 39%;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background: #F9F871;
  opacity: 70%;
  font-family: fantasy;
  font-size: 14pt;
  cursor: pointer;
  display: none;
}

main .imgDiv .exploreBtn2 {
  position: absolute;
  top: 43.5%;
  left: 39%;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background: #fc95dd;
  opacity: 70%;
  font-family: fantasy;
  font-size: 14pt;
  cursor: pointer;
  display: none;
}

main .imgDiv .exploreBtn:hover {
  opacity: 100%;
  color: #3131b9;
}

main .imgDiv .exploreBtn2:hover {
  opacity: 100%;
  color: #7a04c9;
}

main .itemDiv h4 {
  font-family: cursive;
  text-align: center;
  color: #954f9b;
  margin-bottom: 10px;
}

main .itemDiv p {
  font-family: "Trebuchet MS";
  padding: 10px 10px;
  padding-bottom: 15px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #845E9F;
  outline: 5px dotted #845E9F;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.product .tshirtsContent {
  position: absolute;
  left: 14%;
  top: 18%;
  color: white;
  padding: 10px;
  border: 5px #F9F871 dotted;
  cursor: pointer;
}

.product .tshirtsContent:hover {
  background-color: #F9F871;
  color: #397EA3;
}

.product .suitsContent {
  position: absolute;
  left: 66%;
  top: 18%;
  color: white;
  padding: 10px;
  border: 5px #F9F871 dotted;
  cursor: pointer;
}

.product .suitsContent:hover {
  background-color: #F9F871;
  color: #397EA3;
}

.product .shoesContent {
  position: absolute;
  left: 14%;
  top: 68%;
  color: white;
  padding: 10px;
  border: 5px #F9F871 dotted;
  cursor: pointer;
}

.product .shoesContent:hover {
  background-color: #F9F871;
  color: #397EA3;
}

.product .accsContent {
  position: absolute;
  left: 66%;
  top: 68%;
  color: white;
  padding: 10px;
  border: 5px #F9F871 dotted;
  cursor: pointer;
}

.product .accsContent:hover {
  background-color: #F9F871;
  color: #397EA3;
}

.product img {
  max-width: 50%;
  max-height: 50%;
}

.womenContent .womenTitle {
  text-align: center;
  font-family: fantasy;
}

.womenContent img {
  max-width: 100%;
  text-align: center;
  position: relative;
}

.womenContent .womenBtn {
  position: absolute;
  top: 48%;
  left: 41%;
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 20px;
  background: #F9F871;
  opacity: 70%;
  font-family: fantasy;
  cursor: pointer;
}

.womenContent .shopImg {
  position: absolute;
  top: 34%;
  left: 1%;
  display: none;
}

.womenContent p {
  text-align: center;
  font-family: "Trebuchet MS";
}

footer {
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}

footer .fab {
  color: #845E9F;
}

footer p {
  font-size: small;
}

@media screen and (min-width: 1000px) {
  .headerDiv {
    position: relative;
    height: 120px;
    padding-top: 1px;
  }
  .headerDiv img {
    position: absolute;
    top: 18%;
    left: 20px;
  }
  .headerDiv h1 {
    font-size: 40pt;
    padding-top: 25px;
  }
  .menuNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menuNav ul li {
    height: 40px;
  }
  .menuNav ul li p {
    font-size: 18pt;
    padding-bottom: 5px;
  }
  main {
    position: relative;
    height: 80vh;
    padding: 0 auto;
  }
  main div {
    width: 150%;
    padding-top: 3%;
  }
  main div h2 {
    text-align: center;
    font-size: 232%;
  }
  main .imgDiv {
    position: absolute;
    max-width: 50%;
    top: 30px;
  }
  main .imgDiv img {
    margin: auto;
  }
  main .imgDiv .exploreBtn {
    font-size: larger;
  }
  main .itemDiv {
    position: absolute;
    width: 40%;
    top: 16%;
    left: 55%;
  }
  main .itemDiv h4 {
    font-size: 130%;
  }
  main .itemDiv p {
    text-align: center;
    font-size: 18px;
    padding: 8%;
    margin-top: 10%;
    line-height: 200%;
  }
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: 100%;
  }
  .product img {
    padding-left: 13px;
    max-width: 24%;
    max-height: 10%;
    cursor: pointer;
  }
  .product img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .product .tshirtsContent,
  .product .suitsContent,
  .product .accsContent,
  .product .shoesContent {
    display: none;
  }
  .womenContent {
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 20px;
  }
  .womenContent .womenTitle {
    font-size: 40px;
  }
  .womenContent img {
    position: relative;
  }
  .womenContent .womenBtn {
    position: absolute;
    top: 94%;
    left: 46%;
    padding: 20px 60px;
    font-size: 36px;
    border-radius: 20px;
    background: #F9F871;
    opacity: 70%;
    font-family: fantasy;
    cursor: pointer;
  }
  .womenContent .shopImg {
    position: absolute;
    top: 38%;
    left: 8%;
    display: none;
  }
  .womenContent p {
    font-size: 28px;
    text-align: center;
  }
}
